.container {
    margin: 20px auto 0;
    margin-bottom: 50px;
    width: 100%;
    overflow-x: hidden;
}

#example_table {
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    width: 100%;
    border-spacing: 0;
}

#example_table th {
    color: #339;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

#example_table td {
    background-color: yellowgreen;
    border-top: 1px solid #fff;
    color: #669;
    padding: 9px 12px;
    font-size: 20px;
    text-align: center;
}

#example_table tr.odd td {
    cursor: pointer;
}

#example_table tr:not(.odd) td {
    background-color: #f4f4ff;
}